@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

html {
  font-size: 106.25%;
}

* {
  scrollbar-color: theme(colors.slate.400) transparent;
}

.dark * {
  scrollbar-color: theme(colors.slate.700) transparent;
}
