---
import Layout from '../layouts/Layout.astro'
import { AppHeader } from '@/components/AppHeader'
import { VideoPreview } from '@/components/VideoPreview'
import { EditToolbar } from '@/components/EditToolbar'
import { Timeline } from '@/components/Timeline'
import { ExportPanel } from '@/components/ExportPanel'
import { ExportHistory } from '@/components/ExportHistory'
import '@/styles/global.css'
---

<Layout>
  <div class="flex flex-col h-full p-2 gap-2 max-w-5xl w-full mx-auto">
    <AppHeader client:load />
    <VideoPreview client:load />
    <EditToolbar client:load />
    <Timeline client:load />
    <ExportPanel client:load />
    <ExportHistory client:load />
  </div>
</Layout>
