---
import Layout from '../layouts/Layout.astro'
import { AppHeader } from '../components/AppHeader'
import { ClipLibrary } from '../components/ClipLibrary'
import { VideoPreview } from '../components/VideoPreview'
import { EditToolbar } from '../components/EditToolbar'
import { ExportPanel } from '../components/ExportPanel'
import { Timeline } from '../components/Timeline'
import '../styles/global.css'
---

<Layout>
  <div class="flex flex-col h-screen overflow-hidden">
    <AppHeader client:load />

    <div class="flex flex-1 min-h-0">
      <ClipLibrary client:load />

      <div class="flex flex-col flex-1 min-w-0">
        <EditToolbar client:load />
        <VideoPreview client:load />
        <ExportPanel client:load />
      </div>
    </div>

    <Timeline client:load />
  </div>
</Layout>
